<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/calendar/calendar.css">
    <title>Booking Calender</title>
</head>
<body>
    <div id="title_div">
        <h1 class="title">Booking Calender</h1> 
        <button class="btn" onclick="logout()" id="logout"><%= buttonText %></button>
        <button onclick="location.href='/start_page/'"  id="toHome" class="btn">Home</button>
    </div>
    <div class="btn_div">
        <button class="btn" onclick="prevMonth()"  id="prevMonth">Previous Month</button>
        <p id="month-year"></p>
        <button class="btn" onclick="nextMonth()" id="nextMonth">Next Month</button>
        
    </div>

    <div id="table"> </div>

    <script src="calendar.js" charset="utf-8"></script>
</body>
</html>